{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Book Management</title>

  </head>
  <body>
    <section class="vh-100 bg-info">
      <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
          <div
            class="row d-flex justify-content-center align-items-center h-100"
          >
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
              <div class="card" style="border-radius: 15px">
                <div class="card-body p-5">
                  <h2 class="text-uppercase text-center text-danger mb-5">LOGIN</h2>
                  <p>please enter your username and password</p>

                  <form action="login" method="POST">
                    {% csrf_token %}
                    <div class="form-outline mb-4">
                      <input
                        type="text"
                        id="form3Example1cg"
                        name="username"
                        class="form-control form-control-lg"
                      />
                      <label class="form-label" for="form3Example1cg"
                        >Username</label
                      >
                    </div>

                

                    <div class="form-outline m-0">
                      <input
                        type="password"
                        id="form3Example4cg"
                        name="pass"
                        class="form-control form-control-lg"
                      />
                      <label class="form-label" for="form3Example4cg"
                        >Password</label
                      >
                    </div>
                    
                    </div>
                    <div class="text-center text-danger mb-4">
                      {% for message in messages  %}
                      {{message}}
                      {% endfor %}
                    </div>
                    
                    <div class="d-flex justify-content-center m-0">
                      <button
                        type="submit"
                        class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                      >
                        LOGIN
                      </button>
                    </div>
                    <div class="d-flex justify-content-end m-2">
                     <a class="link-success" href="register">
                       don't have account? signup
                     </a>
                    </div>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
